#### Data Exploring

In [413]:
import pandas as pd

In [506]:
combined_df = pd.read_csv("Combined_Data.csv")

In [507]:
combined_df.shape

(4535, 13)

In [508]:
combined_df.head()

,item title,original price,price on sale,rating,color options,size options,description,Age Group,Garment Length,Presentation Product Type,Sleeve Length,Composition,category
0,UPF 50 Sun protection set,NaN,"EGP 1,999.00",NaN,"['Light blue/Striped', 'Cream/Fish', 'Cream/Fl...","['1.5-2Y', '3-4Y', '4-5Y']",Sun protection suit and matching sun protectio...,Baby,Short,Swimsuit,Long sleeve,"[""83.0% Polyester"", ""17.0% Elastane""]",Baby Boy
1,Printed cotton T-shirt,NaN,EGP 449.00,NaN,[],"['6M', '9M', '12M', '18M', '2Y', '3Y', '4Y']",T-shirt in soft cotton jersey with print motif...,Baby,Regular length,T-shirt,Short sleeve,"[""100.0% Cotton""]",Baby Boy
2,Printed cotton T-shirt,NaN,EGP 449.00,NaN,"['Light blue/Striped', 'Yellow/California', 'T...","['18M', '2Y', '4Y']",T-shirt in soft cotton jersey with print motif...,Baby,Regular length,T-shirt,Short sleeve,"[""100.0% Cotton""]",Baby Boy
3,Printed cotton T-shirt,NaN,EGP 449.00,NaN,"['Light blue/Striped', 'Yellow/California', 'T...","['6M', '9M', '12M', '18M', '2Y', '3Y', '4Y']",T-shirt in soft cotton jersey with print motif...,Baby,Regular length,T-shirt,Short sleeve,"[""100.0% Cotton""]",Baby Boy
4,Long-sleeved bodysuit,NaN,EGP 399.00,NaN,"['White/Cherries', 'Light beige/Dogs', 'Light ...","['1.5-2Y', '12-18M', '4-6M', '6-9M', '9-12M']",Long-sleeved bodysuit in supersoft cotton jers...,Baby,NaN,Bodysuit,Long sleeve,"[""100.0% Cotton""]",Baby Boy

In [509]:
combined_df.tail()

,item title,original price,price on sale,rating,color options,size options,description,Age Group,Garment Length,Presentation Product Type,Sleeve Length,Composition,category
4530,Ribbed modal-blend T-shirt,NaN,EGP 749.00,NaN,"['Dark brown', 'Black', 'White', 'Light khaki ...","['XS', 'M', 'L', 'XL']","Fitted T-shirt in soft, ribbed cotton and moda...",Adult,Regular length,T-shirt,Short sleeve,"[""50% Cotton"", ""50% Modal""]",Women
4531,Knitted jumper,NaN,"EGP 1,099.00",NaN,"['Black/Striped', 'Cream/Striped', 'Navy blue'...",['XXS'],Jumper in a soft knit containing some wool wit...,Adult,Regular length,Jumper,Long sleeve,"[""41% Acrylic"", ""3% Elastane"", ""52% Polyester""...",Women
4532,Wide trousers,NaN,"EGP 2,499.00",NaN,"['Grey marl', 'Khaki green', 'Grey', 'Light mo...","['10', '14']","Tailored, loose-fitting trousers in woven fabr...",Adult,Long,Trousers,NaN,"[""4% Elastane"", ""96% Polyester""]",Women
4533,Cotton-blend shirt,NaN,"EGP 1,099.00",NaN,['White'],"['XXS', 'S', '3XL']",Long-sleeved shirt woven in a cotton blend wit...,Adult,NaN,Shirt,Long sleeve,"[""73% Cotton"", ""4% Elastane"", ""23% Polyester""]",Women
4534,Cotton T-shirt,NaN,EGP 499.00,NaN,"['Dark grey', 'White', 'Beige', 'Grey-blue', '...","['XS', 'M']",Straight-cut T-shirt in soft cotton jersey wit...,Adult,NaN,"Shorts, T-shirt",Short sleeve,"[""100% Cotton""]",Women

In [510]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4535 entries, 0 to 4534
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   item title                 4535 non-null   object
 1   original price             0 non-null      float64
 2   price on sale              4535 non-null   object
 3   rating                     0 non-null      float64
 4   color options              4535 non-null   object
 5   size options               4535 non-null   object
 6   description                4534 non-null   object
 7   Age Group                  4387 non-null   object
 8   Garment Length             3884 non-null   object
 9   Presentation Product Type  4534 non-null   object
 10  Sleeve Length              2295 non-null   object
 11  Composition                3331 non-null   object
 12  category                   4535 non-null   object
dtypes: float64(2), object(11)
memory usage: 460.7+ KB

In [511]:
#Check nulls
combined_df.isnull().sum()

item title                      0
original price               4535
price on sale                   0
rating                       4535
color options                   0
size options                    0
description                     1
Age Group                     148
Garment Length                651
Presentation Product Type       1
Sleeve Length                2240
Composition                  1204
category                        0
dtype: int64

In [512]:
# Check duplicate rows
combined_df.duplicated().sum()

np.int64(324)

## Data Cleaning and Preprocessing

In [513]:
# Moving target to the end
price = combined_df.pop("price on sale")
combined_df["price"] = price

In [514]:
combined_df.head(3)

,item title,original price,rating,color options,size options,description,Age Group,Garment Length,Presentation Product Type,Sleeve Length,Composition,category,price
0,UPF 50 Sun protection set,NaN,NaN,"['Light blue/Striped', 'Cream/Fish', 'Cream/Fl...","['1.5-2Y', '3-4Y', '4-5Y']",Sun protection suit and matching sun protectio...,Baby,Short,Swimsuit,Long sleeve,"[""83.0% Polyester"", ""17.0% Elastane""]",Baby Boy,"EGP 1,999.00"
1,Printed cotton T-shirt,NaN,NaN,[],"['6M', '9M', '12M', '18M', '2Y', '3Y', '4Y']",T-shirt in soft cotton jersey with print motif...,Baby,Regular length,T-shirt,Short sleeve,"[""100.0% Cotton""]",Baby Boy,EGP 449.00
2,Printed cotton T-shirt,NaN,NaN,"['Light blue/Striped', 'Yellow/California', 'T...","['18M', '2Y', '4Y']",T-shirt in soft cotton jersey with print motif...,Baby,Regular length,T-shirt,Short sleeve,"[""100.0% Cotton""]",Baby Boy,EGP 449.00

#### Dropping columns

In [515]:
# Dropping columns with large number of nulls
combined_df.drop(["original price", "rating"], axis=1, inplace=True)

In [516]:
# Dropping unrelated columns
combined_df.drop(["item title", "color options", "size options","description"], axis=1, inplace=True)

In [517]:
combined_df.head(3)

,Age Group,Garment Length,Presentation Product Type,Sleeve Length,Composition,category,price
0,Baby,Short,Swimsuit,Long sleeve,"[""83.0% Polyester"", ""17.0% Elastane""]",Baby Boy,"EGP 1,999.00"
1,Baby,Regular length,T-shirt,Short sleeve,"[""100.0% Cotton""]",Baby Boy,EGP 449.00
2,Baby,Regular length,T-shirt,Short sleeve,"[""100.0% Cotton""]",Baby Boy,EGP 449.00

##### Dropping duplicate rows

In [518]:
combined_df.duplicated().sum()

np.int64(1825)

In [519]:
combined_df.drop_duplicates(inplace=True)

In [520]:
combined_df.shape

(2710, 7)

In [521]:
combined_df.isnull().sum()

Age Group                     105
Garment Length                395
Presentation Product Type       1
Sleeve Length                1395
Composition                   676
category                        0
price                           0
dtype: int64

#### Price column cleaning

In [522]:
#Convert price to numerical values
combined_df["price"] = combined_df["price"].str.replace("EGP", "", regex=True)  # Remove "EGP"
combined_df["price"] = combined_df["price"].str.replace(",", "", regex=True)  # Remove commas
combined_df["price"] = combined_df["price"].str.strip()  # Remove extra spaces
combined_df["price"] = pd.to_numeric(combined_df["price"], errors="coerce")  # Convert to numeric

In [523]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2710 entries, 0 to 4534
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age Group                  2605 non-null   object
 1   Garment Length             2315 non-null   object
 2   Presentation Product Type  2709 non-null   object
 3   Sleeve Length              1315 non-null   object
 4   Composition                2034 non-null   object
 5   category                   2710 non-null   object
 6   price                      2710 non-null   float64
dtypes: float64(1), object(6)
memory usage: 169.4+ KB

In [524]:
combined_df.head(3)

,Age Group,Garment Length,Presentation Product Type,Sleeve Length,Composition,category,price
0,Baby,Short,Swimsuit,Long sleeve,"[""83.0% Polyester"", ""17.0% Elastane""]",Baby Boy,1999.0
1,Baby,Regular length,T-shirt,Short sleeve,"[""100.0% Cotton""]",Baby Boy,449.0
4,Baby,NaN,Bodysuit,Long sleeve,"[""100.0% Cotton""]",Baby Boy,399.0

##### Age Group column cleaning

In [525]:
combined_df["Age Group"].unique()

array(['Baby', 'Baby, Newborn', 'Newborn', 'Newborn, Baby', nan,
       'Younger child, Older child', 'Older child, Younger child',
       'Younger child', 'Older child', 'Baby, Younger child', 'Adult'],
      dtype=object)

In [526]:
combined_df["Age Group"].value_counts()

Age Group
Adult                         729
Younger child                 659
Baby                          377
Older child                   376
Baby, Newborn                 270
Newborn                       112
Newborn, Baby                  32
Younger child, Older child     31
Older child, Younger child     18
Baby, Younger child             1
Name: count, dtype: int64

In [527]:
combined_df["Age Group"] = combined_df["Age Group"].str.split(", ")
combined_df = combined_df.explode("Age Group").reset_index(drop=True) # Split multi-value rows

In [528]:
combined_df["Age Group"].value_counts()

Age Group
Adult            729
Younger child    709
Baby             680
Older child      425
Newborn          414
Name: count, dtype: int64

In [529]:
combined_df.head()

,Age Group,Garment Length,Presentation Product Type,Sleeve Length,Composition,category,price
0,Baby,Short,Swimsuit,Long sleeve,"[""83.0% Polyester"", ""17.0% Elastane""]",Baby Boy,1999.0
1,Baby,Regular length,T-shirt,Short sleeve,"[""100.0% Cotton""]",Baby Boy,449.0
2,Baby,NaN,Bodysuit,Long sleeve,"[""100.0% Cotton""]",Baby Boy,399.0
3,Baby,Short,Shorts,NaN,"[""99.0% Cotton"", ""1.0% Viscose""]",Baby Boy,649.0
4,Baby,"Regular length, Short","T-shirt, Shorts",Short sleeve,"[""100.0% Cotton""]",Baby Boy,899.0

##### Sleeve Length column cleaning

In [530]:
combined_df["Sleeve Length"].value_counts()

Sleeve Length
Long sleeve                  1035
Short sleeve                  314
Sleeveless                    148
Extra long sleeve              20
3/4 Sleeve                     10
Long sleeve, Sleeveless         3
Short sleeve, Long sleeve       2
Long sleeve, Short sleeve       1
Short sleeve, Sleeveless        1
Sleeveless, Long sleeve         1
Name: count, dtype: int64

In [531]:
combined_df = combined_df[~combined_df["Sleeve Length"].isin(["Long sleeve, Sleeveless", 
                                                              "Short sleeve, Long sleeve",
                                                                "Short sleeve, Sleeveless",
                                                                "Sleeveless, Long sleeve",
                                                                "Long sleeve, Short sleeve"])]

combined_df["Sleeve Length"].value_counts()

Sleeve Length
Long sleeve          1035
Short sleeve          314
Sleeveless            148
Extra long sleeve      20
3/4 Sleeve             10
Name: count, dtype: int64

In [532]:
combined_df.shape

(3054, 7)

##### Category column cleaning

In [533]:
combined_df["category"].nunique()

11

In [534]:
combined_df["category"].value_counts()

category
Girls 2-8Y      471
Baby Girl       399
Baby Boy        380
Women           333
Boys 2-8Y       327
New Born        315
Men             265
Girls 9-14Y     240
Boys 9-14Y      191
Sports_Women    100
Sports_Men       33
Name: count, dtype: int64

In [535]:
combined_df.groupby("category")["price"].describe()

,count,mean,std,min,25%,50%,75%,max
category,,,,,,,,
Baby Boy,380.0,985.842105,416.003129,349.0,749.0,899.0,1099.0,2799.0
Baby Girl,399.0,986.092732,394.102337,399.0,749.0,899.0,1099.0,2799.0
Boys 2-8Y,327.0,1281.568807,645.027327,399.0,799.0,1099.0,1699.0,2999.0
Boys 9-14Y,191.0,1483.188482,804.001994,179.0,899.0,1199.0,1699.0,4499.0
Girls 2-8Y,471.0,1179.148620,574.228232,449.0,749.0,999.0,1499.0,3999.0
Girls 9-14Y,240.0,1194.208333,544.915600,449.0,799.0,999.0,1499.0,2799.0
Men,265.0,1956.358491,976.200021,449.0,1099.0,1999.0,2799.0,5999.0
New Born,315.0,1056.460317,387.359871,449.0,799.0,999.0,1199.0,2799.0
Sports_Men,33.0,1785.363636,1014.756184,749.0,899.0,1699.0,2199.0,4499.0
Sports_Women,100.0,2053.500000,2005.511283,699.0,899.0,1199.0,2799.0,16999.0
Women,333.0,2211.312312,1155.297541,499.0,1199.0,1999.0,2999.0,5999.0

In [536]:
replace_values = {
    "Baby Boy": "Boy",
    "Baby Girl": "Girl",
    "Boys 2-8Y": "Boy",
    "Girls 2-8Y": "Girl",
    "Boys 9-14Y": "Boy",
    "Girls 9-14Y": "Girl"
}

combined_df["category"] = combined_df["category"].replace(replace_values)

In [537]:
combined_df["category"].value_counts()

category
Girl            1110
Boy              898
Women            333
New Born         315
Men              265
Sports_Women     100
Sports_Men        33
Name: count, dtype: int64

In [538]:
combined_df.head(3)

,Age Group,Garment Length,Presentation Product Type,Sleeve Length,Composition,category,price
0,Baby,Short,Swimsuit,Long sleeve,"[""83.0% Polyester"", ""17.0% Elastane""]",Boy,1999.0
1,Baby,Regular length,T-shirt,Short sleeve,"[""100.0% Cotton""]",Boy,449.0
2,Baby,NaN,Bodysuit,Long sleeve,"[""100.0% Cotton""]",Boy,399.0

##### Composition column cleaning

In [539]:
combined_df["Composition"].nunique()

417

In [540]:
import numpy as np
import pandas as pd
import ast

# Ensure NaNs are properly handled before processing
combined_df["Composition"] = combined_df["Composition"].fillna("[]")  

# Function to safely evaluate string lists
def safe_eval(x):
    if isinstance(x, str):  
        try:
            return ast.literal_eval(x)  # Convert to list
        except:
            return []  # If parsing fails, return empty list
    elif isinstance(x, list):
        return x  # Keep lists as they are
    else:
        return []  # Convert NaNs to empty list

combined_df["Composition"] = combined_df["Composition"].apply(safe_eval)

# Initialize set to store all unique material names
all_materials = set()

# Extract unique materials from all rows
for materials in combined_df["Composition"]:
    for item in materials:
        try:
            percentage, material = item.split("% ")
            all_materials.add(material.strip())  # Collect unique materials
        except ValueError:
            continue  # Skip incorrectly formatted items

# Convert set to sorted list, keeps order consistent
all_materials = sorted(all_materials)

# Dictionary to store processed data
material_dict = {mat: [] for mat in all_materials}

# Process each row and ensure all materials exist
for materials in combined_df["Composition"]:
    row_materials = {mat: 0.0 for mat in all_materials}  # Initialize all with 0.0

    for item in materials:
        try:
            percentage, material = item.split("% ")
            row_materials[material.strip()] = float(percentage)  # Assign actual percentage
        except ValueError:
            continue  # Skip invalid formats

    # Append values to corresponding lists in material_dict
    for mat in all_materials:
        material_dict[mat].append(row_materials[mat])

# Convert dictionary to DataFrame
material_df = pd.DataFrame(material_dict)

# Merge with original DataFrame
combined_df = combined_df.reset_index(drop=True)
material_df = material_df.reset_index(drop=True)

combined_df = pd.concat([combined_df, material_df], axis=1)

In [541]:
material_df.shape

(3054, 25)

In [542]:
print(combined_df.shape)

(3054, 32)

In [543]:
combined_df.columns

Index(['Age Group', 'Garment Length', 'Presentation Product Type',
       'Sleeve Length', 'Composition', 'category', 'price', '', 'Acrylic',
       'Brass', 'Cotton', 'Elastane', 'Elastodiene', 'Elastomultiester',
       'Linen', 'Lyocell', 'Modal', 'Mohair', 'Other', 'Polyamide',
       'Polyester', 'Polystyrene', 'Polyurethane', 'Resin', 'Silk', 'Steel',
       'Viscose', 'Wool', 'Zinc', 'copolyester', 'metallised', 'polymethyl'],
      dtype='object')

In [544]:
combined_df = combined_df.drop(columns=[''])

In [545]:
combined_df.columns

Index(['Age Group', 'Garment Length', 'Presentation Product Type',
       'Sleeve Length', 'Composition', 'category', 'price', 'Acrylic', 'Brass',
       'Cotton', 'Elastane', 'Elastodiene', 'Elastomultiester', 'Linen',
       'Lyocell', 'Modal', 'Mohair', 'Other', 'Polyamide', 'Polyester',
       'Polystyrene', 'Polyurethane', 'Resin', 'Silk', 'Steel', 'Viscose',
       'Wool', 'Zinc', 'copolyester', 'metallised', 'polymethyl'],
      dtype='object')

In [546]:
combined_df.isnull().sum()

Age Group                     105
Garment Length                505
Presentation Product Type       1
Sleeve Length                1527
Composition                     0
category                        0
price                           0
Acrylic                         0
Brass                           0
Cotton                          0
Elastane                        0
Elastodiene                     0
Elastomultiester                0
Linen                           0
Lyocell                         0
Modal                           0
Mohair                          0
Other                           0
Polyamide                       0
Polyester                       0
Polystyrene                     0
Polyurethane                    0
Resin                           0
Silk                            0
Steel                           0
Viscose                         0
Wool                            0
Zinc                            0
copolyester                     0
metallised                      0
polymethyl                      0
dtype: int64

In [547]:
combined_df["Cotton"].head()

0      0.0
1    100.0
2    100.0
3     99.0
4    100.0
Name: Cotton, dtype: float64

In [548]:
combined_df["Elastane"].head()

0    17.0
1     0.0
2     0.0
3     0.0
4     0.0
Name: Elastane, dtype: float64

In [549]:
combined_df.drop(columns=["Composition"], inplace=True)

In [550]:
# Moving target to the end
price = combined_df.pop("price")
combined_df["price"] = price

In [551]:
combined_df.head()

,Age Group,Garment Length,Presentation Product Type,Sleeve Length,category,Acrylic,Brass,Cotton,Elastane,Elastodiene,...,Resin,Silk,Steel,Viscose,Wool,Zinc,copolyester,metallised,polymethyl,price
0,Baby,Short,Swimsuit,Long sleeve,Boy,0.0,0.0,0.0,17.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1999.0
1,Baby,Regular length,T-shirt,Short sleeve,Boy,0.0,0.0,100.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,449.0
2,Baby,NaN,Bodysuit,Long sleeve,Boy,0.0,0.0,100.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,399.0
3,Baby,Short,Shorts,NaN,Boy,0.0,0.0,99.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,649.0
4,Baby,"Regular length, Short","T-shirt, Shorts",Short sleeve,Boy,0.0,0.0,100.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,899.0

##### Presentation Product Type column cleaning

In [552]:
combined_df["Presentation Product Type"].nunique()

102

In [553]:
combined_df["Presentation Product Type"].unique()

array(['Swimsuit', 'T-shirt', 'Bodysuit', 'Shorts', 'T-shirt, Shorts',
       'Pyjamas', 'Trousers, Sweatshirt', 'Hat', 'Jeans',
       'Pyjama jumpsuit', 'Trousers', 'Jacket', 'Leggings', 'Sweatshirt',
       'Sweatshirt, Shorts', 'Sweatshirt, Trousers', 'Sleepsuit', 'Shirt',
       'Bodysuit, Leggings', 'Shirt, Jeans', 'Shirt, Shorts',
       'All in one suit', 'Blouse, Leggings',
       'Sweatshirt, Trousers, Bodysuit', 'Swim shorts', 'Baby bib',
       'Shorts, Top, Blouse, Leggings', 'Shorts, Top', 'Baby bodysuit',
       'Top', 'Jumper, Leggings', 'Blouse, Leggings, Sweatshirt',
       'Shirt, Trousers', 'Jumper, Trousers', 'Leggings, T-shirt',
       'T-shirt, Trousers', 'Jumper', 'Jeans, T-shirt', 'Waist coat',
       'Slippers', 'Blazer, Trousers', 'Top, Trousers',
       'Bib-style neck warmer', 'Cardigan, Trousers', 'Top, Leggings',
       'Leggings, Top', 'Sweatshirt, Jeans', 'Bodysuit, Trousers',
       'Jacket, Trousers', 'Trousers, Shirt', 'Outdoor jacket', 'Dress',
       'Blouse, Shorts', 'Sweatshirt, Leggings', 'Top, Shorts', nan,
       'Bloomers', 'Dress, Shorts, Top', 'Blouse', 'Top, Dress', 'Skirt',
       'Jacket, Sweatshirt', 'Blazer', 'Shorts, Sweatshirt', 'Gilet',
       'Shorts, T-shirt', 'Swim top', 'Swim top, Swim shorts', 'Cardigan',
       'Costume', 'Dressing gown', 'Shirt, Waist coat',
       'Shirt, Trousers, Waist coat', 'T-shirt, Leggings',
       'Waist coat, Skirt', 'Top, Skirt', 'Skirt, Sweatshirt',
       'Trousers, T-shirt', 'Skirt, T-shirt', 'Pyjama bottoms',
       'Sweatshirt, Skirt', 'Top, Cardigan', 'Coat', 'Night dress',
       'Dress, Top', 'Leggings, Blouse', 'Cardigan, Skirt',
       'Leggings, Sweatshirt', 'Skirt, Top', 'Knickers, Shorts, Top',
       'Bra', 'Playsuit', 'Jacket, Top', 'Jumpsuit', 'Body',
       'Baby bodysuit, Trousers', 'Trousers, Top',
       'Blouse, Leggings, Bodysuit', 'Bodysuit, Array',
       'Bodysuit, Blouse, Leggings', 'Dress, Tunic', 'Necklace',
       'Jacket, Blazer'], dtype=object)

In [554]:
combined_df["Presentation Product Type"].value_counts()

Presentation Product Type
Trousers           379
T-shirt            293
Sweatshirt         192
Bodysuit           178
Top                168
                  ...
Skirt, Top           1
Playsuit             1
Bodysuit, Array      1
Dress, Tunic         1
Jacket, Blazer       1
Name: count, Length: 102, dtype: int64

In [555]:
combined_df = combined_df[~combined_df['Presentation Product Type'].str.contains(',', na=False)]

In [556]:
combined_df["Presentation Product Type"].nunique()

42

In [557]:
combined_df["Presentation Product Type"].value_counts()

Presentation Product Type
Trousers                 379
T-shirt                  293
Sweatshirt               192
Bodysuit                 178
Top                      168
Dress                    168
Jeans                    130
Pyjamas                  121
Shirt                    118
Sleepsuit                109
Shorts                    97
Leggings                  77
Jacket                    76
Skirt                     73
Blouse                    63
Hat                       31
Jumper                    30
Baby bodysuit             24
Blazer                    22
Cardigan                  20
Dressing gown             20
Swim shorts               19
Bra                       19
Swimsuit                  16
Coat                      14
Pyjama jumpsuit           12
Baby bib                  12
Waist coat                11
Gilet                     11
Necklace                  10
All in one suit            7
Slippers                   6
Bloomers                   5
Pyjama bottoms             5
Costume                    4
Jumpsuit                   3
Body                       3
Night dress                3
Bib-style neck warmer      2
Outdoor jacket             2
Swim top                   2
Playsuit                   1
Name: count, dtype: int64

In [558]:
combined_df["Presentation Product Type"].unique()

array(['Swimsuit', 'T-shirt', 'Bodysuit', 'Shorts', 'Pyjamas', 'Hat',
       'Jeans', 'Pyjama jumpsuit', 'Trousers', 'Jacket', 'Leggings',
       'Sweatshirt', 'Sleepsuit', 'Shirt', 'All in one suit',
       'Swim shorts', 'Baby bib', 'Baby bodysuit', 'Top', 'Jumper',
       'Waist coat', 'Slippers', 'Bib-style neck warmer',
       'Outdoor jacket', 'Dress', nan, 'Bloomers', 'Blouse', 'Skirt',
       'Blazer', 'Gilet', 'Swim top', 'Cardigan', 'Costume',
       'Dressing gown', 'Pyjama bottoms', 'Coat', 'Night dress', 'Bra',
       'Playsuit', 'Jumpsuit', 'Body', 'Necklace'], dtype=object)

In [559]:
combined_df = combined_df[~combined_df['Presentation Product Type'].isin(['Hat', 'Slippers', 'Bib-style neck warmer', 'Necklace'])]

In [560]:
combined_df.shape

(2508, 30)

In [561]:
combined_df.head()

,Age Group,Garment Length,Presentation Product Type,Sleeve Length,category,Acrylic,Brass,Cotton,Elastane,Elastodiene,...,Resin,Silk,Steel,Viscose,Wool,Zinc,copolyester,metallised,polymethyl,price
0,Baby,Short,Swimsuit,Long sleeve,Boy,0.0,0.0,0.0,17.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1999.0
1,Baby,Regular length,T-shirt,Short sleeve,Boy,0.0,0.0,100.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,449.0
2,Baby,NaN,Bodysuit,Long sleeve,Boy,0.0,0.0,100.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,399.0
3,Baby,Short,Shorts,NaN,Boy,0.0,0.0,99.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,649.0
5,Baby,Long,Pyjamas,Long sleeve,Boy,0.0,0.0,100.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1099.0

##### Garment Length column cleaning

In [562]:
combined_df["Garment Length"].unique()

array(['Short', 'Regular length', nan, 'Long', 'Regular length, Short',
       'Knee length', 'Regular length, Long', 'Short, Regular length',
       'Regular length, Knee length', 'Cropped, Long',
       'Long, Regular length', 'Ankle length', 'Midi', '3/4 Length',
       'Cropped', 'Maxi', 'Long, Short', 'Mini', 'Extra long legs'],
      dtype=object)

In [563]:
combined_df["Garment Length"].nunique()

18

In [564]:
combined_df["Garment Length"].value_counts()

Garment Length
Regular length                 800
Long                           771
Short                          243
Knee length                    144
Midi                            34
Regular length, Long            19
Ankle length                    19
Cropped                         18
Long, Regular length            12
Mini                             9
Short, Regular length            6
3/4 Length                       5
Extra long legs                  5
Maxi                             5
Cropped, Long                    4
Regular length, Short            3
Regular length, Knee length      2
Long, Short                      2
Name: count, dtype: int64

In [565]:
combined_df[combined_df["Presentation Product Type"] == "Skirt"]["Garment Length"].value_counts()

Garment Length
Short          42
Knee length     9
Midi            8
Mini            8
Long            4
Maxi            2
Name: count, dtype: int64

In [566]:
combined_df[combined_df["Presentation Product Type"] == "Trousers"]["Garment Length"].value_counts()

Garment Length
Long               360
Ankle length        11
Regular length       4
3/4 Length           2
Extra long legs      1
Name: count, dtype: int64

In [567]:
combined_df[combined_df["Presentation Product Type"] == "Shorts"]["Garment Length"].value_counts()

Garment Length
Short          44
Knee length    37
Midi            1
Name: count, dtype: int64

In [568]:
combined_df[combined_df["Presentation Product Type"] == "Pyjamas"]["Garment Length"].value_counts()

Garment Length
Long                           40
Regular length, Long           19
Long, Regular length           12
Regular length                  6
Short, Regular length           6
Short                           4
Regular length, Short           3
Regular length, Knee length     2
Long, Short                     2
Name: count, dtype: int64

In [569]:
combined_df = combined_df[~combined_df['Garment Length'].str.contains(',', na=False)]

In [570]:
combined_df["Garment Length"].unique()

array(['Short', 'Regular length', nan, 'Long', 'Knee length',
       'Ankle length', 'Midi', '3/4 Length', 'Cropped', 'Maxi', 'Mini',
       'Extra long legs'], dtype=object)

In [571]:
combined_df["Garment Length"] = combined_df["Garment Length"].replace({
    "Cropped": "Short",
    "Mini": "Short",
    "Regular length": "Regular",
    "Knee length": "Regular",
    "Midi": "Regular",
    "Ankle length": "Long",
    "3/4 Length": "Long",
    "Maxi": "Long",
    "Extra long legs": "Long"
})

In [572]:
combined_df["Garment Length"].value_counts()

Garment Length
Regular    978
Long       805
Short      270
Name: count, dtype: int64

In [573]:
combined_df.shape

(2460, 30)

### Null Values Imputing

In [575]:
combined_df["Age Group"].isnull().sum()

np.int64(77)

In [576]:
# Drop rows with null values in Age Group column
combined_df = combined_df.dropna(subset=['Age Group'])

In [577]:
combined_df["Garment Length"].isnull().sum()

np.int64(358)

In [578]:
# Checking mode value for imputing
combined_df['Garment Length'].mode()

0    Regular
Name: Garment Length, dtype: object

In [579]:
# Deciding on 'Garment Length'
# Filling missing values in 'Garment Length' with 'Regular' (categorical approach)
combined_df['Garment Length'].fillna('Regular', inplace=True)

C:\Users\Cyber\AppData\Local\Temp\ipykernel_7748\3893198902.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_df['Garment Length'].fillna('Regular', inplace=True)

In [580]:
combined_df["Sleeve Length"].isnull().sum()

np.int64(1206)

In [581]:
combined_df['Sleeve Length'].fillna('No sleeve', inplace=True)

C:\Users\Cyber\AppData\Local\Temp\ipykernel_7748\2612151122.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  combined_df['Sleeve Length'].fillna('No sleeve', inplace=True)

In [582]:
# List of material columns
material_cols = ['Acrylic', 'Brass', 'Cotton', 'Elastane', 'Elastodiene',
       'Elastomultiester', 'Linen', 'Lyocell', 'Modal', 'Mohair', 'Other',
       'Polyamide', 'Polyester', 'Polystyrene', 'Polyurethane', 'Resin',
       'Silk', 'Steel', 'Viscose', 'Wool', 'Zinc', 'copolyester', 'metallised',
       'polymethyl']

# Count rows where all materials are 0 (NaN in original column)
zero_material_rows = (combined_df[material_cols] == 0).all(axis=1).sum()

print("Number of rows where all materials are 0:", zero_material_rows)

Number of rows where all materials are 0: 584

In [583]:
# Drop rows where all material percentages are 0
combined_df = combined_df[~(combined_df[material_cols] == 0).all(axis=1)]

In [ ]:
# Check zero columns
zero_cols = (combined_df.select_dtypes(include='number') == 0).all()

print(zero_cols[zero_cols].index.tolist())  # List of columns that are all zeros

['Brass', 'Resin', 'Steel', 'Zinc', 'polymethyl']

In [587]:
combined_df = combined_df.drop(columns=zero_cols[lambda x: x].index)

In [588]:
combined_df.shape

(1799, 25)

In [589]:
# Ensuring no missing values remain

print(combined_df.isnull().sum())

Age Group                    0
Garment Length               0
Presentation Product Type    0
Sleeve Length                0
category                     0
Acrylic                      0
Cotton                       0
Elastane                     0
Elastodiene                  0
Elastomultiester             0
Linen                        0
Lyocell                      0
Modal                        0
Mohair                       0
Other                        0
Polyamide                    0
Polyester                    0
Polystyrene                  0
Polyurethane                 0
Silk                         0
Viscose                      0
Wool                         0
copolyester                  0
metallised                   0
price                        0
dtype: int64

In [590]:
combined_df.duplicated().sum()

np.int64(98)

In [591]:
combined_df.drop_duplicates(inplace=True)

In [592]:
combined_df.duplicated().sum()

np.int64(0)

### Outliers Handling

In [593]:
Q1 = combined_df["price"].quantile(0.25)
Q3 = combined_df["price"].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

combined_df = combined_df[(combined_df["price"] >= lower_bound) & (combined_df["price"] <= upper_bound)]

In [594]:
combined_df.shape

(1632, 25)

In [595]:
# Double check zero columns after removing outliers
zero_cols = (combined_df.select_dtypes(include='number') == 0).all()

print(zero_cols[zero_cols].index.tolist())  # List of columns that are all zeros

['Mohair']

In [596]:
combined_df = combined_df.drop(columns=zero_cols[lambda x: x].index)

In [597]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1632 entries, 0 to 3052
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age Group                  1632 non-null   object
 1   Garment Length             1632 non-null   object
 2   Presentation Product Type  1632 non-null   object
 3   Sleeve Length              1632 non-null   object
 4   category                   1632 non-null   object
 5   Acrylic                    1632 non-null   float64
 6   Cotton                     1632 non-null   float64
 7   Elastane                   1632 non-null   float64
 8   Elastodiene                1632 non-null   float64
 9   Elastomultiester           1632 non-null   float64
 10  Linen                      1632 non-null   float64
 11  Lyocell                    1632 non-null   float64
 12  Modal                      1632 non-null   float64
 13  Other                      1632 non-null   float64
 14  Polyamide                  1632 non-null   float64
 15  Polyester                  1632 non-null   float64
 16  Polystyrene                1632 non-null   float64
 17  Polyurethane               1632 non-null   float64
 18  Silk                       1632 non-null   float64
 19  Viscose                    1632 non-null   float64
 20  Wool                       1632 non-null   float64
 21  copolyester                1632 non-null   float64
 22  metallised                 1632 non-null   float64
 23  price                      1632 non-null   float64
dtypes: float64(19), object(5)
memory usage: 318.8+ KB

In [598]:
combined_df.to_csv("Preprocessed_Data.csv", index=False)